# Kubernetes deployment settings
NAMESPACE=sage-test
SAGE_HOST=127.0.0.1
SAGE_PUBLIC_URL=http://127.0.0.1:32051
IMAGE_REGISTRY=
IMAGE_PULL_POLICY=
K8S_IMAGE_TARGET=ctr
CTR_BIN=ctr
CTR_NAMESPACE=k8s.io
STORAGE_CLASS=
INGRESS_CLASS_NAME=nginx
TLS_SECRET_NAME=
ENABLE_INGRESS=false
SAGE_WEB_SERVICE_TYPE=NodePort
SAGE_WIKI_SERVICE_TYPE=NodePort
SAGE_WEB_NODE_PORT=32051
SAGE_WIKI_NODE_PORT=32057
